[Unit]
Description=Fail2ban systemd monitoring service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --name fail2ban --privileged --net=host -v /run/systemd:/var/run/systemd ianblenke/fail2ban
ExecStop=/usr/bin/docker kill fail2ban
ExecStop=/usr/bin/docker rm fail2ban
Restart=on-failure
TimeoutSec=10
RestartSec=5

[Install]
WantedBy=multi-user.target

